@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var username = Context.Request.Cookies["username"];
}

<ul class="navbar-nav">
    @if (username != null)
    {
        <li class="nav-item">
            <label>@username Hoşgeldin!</label>
        </li>
    }
    @if (username == null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login/Index">Giriş Yap</a>
        </li>

    }
</ul>
